@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  /*color: white;*/
  text-decoration: none !important;
}


html,
body,
#root,
.App {
  margin: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
  }


}


/* App.scss */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* This will center the image both vertically and horizontally */
}

/* Optional styles for the image, adjust as needed */





.App {
  position: relative;
  z-index: 2;
}

.wave {
  position: fixed;
  bottom: -63px;
  opacity: 40%;
  z-index: -1;
}