/* Contact.css */

.contact-card {
  background: linear-gradient(to bottom right, #9333ea, #4f46e5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.contact-card h2 {
  color: white;

  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background: transparent;
}

.input-container textarea {
  color: black;
  resize: vertical;
  min-height: 100px;
  width: 100%;
  border-radius: 10px;
}

.input-container textarea:focus {
  outline: none;
}

.input-container textarea::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container input::placeholder,
.input-container textarea::placeholder {
  color: #a8a8a8;
}


/* Responsive layout for smaller screens */
@media (max-width: 480px) {
  .contact-card {
    padding: 20px;
  }

  .contact-card h2 {
    font-size: 24px;
  }
}

/* CSS-Regeln wie zuvor */

/* Placeholder-Styling für input */
.input-container input:focus::placeholder {
  font-size: 12px; /* Beispiel: Kleinerer Font bei Fokus */
  transform: translate(-50%, -80%); /* Beispiel: Verschiebung nach oben */
  color: #a8a8a8;
}

/* Placeholder-Styling für textarea */
.input-container textarea:focus::placeholder {
  font-size: 12px; /* Beispiel: Kleinerer Font bei Fokus */
  transform: translate(-50%, -80%); /* Beispiel: Verschiebung nach oben */
  color: #a8a8a8;
  outline: none;
}

/* Responsive layout for smaller screens wie zuvor */





