
main {
  margin-bottom: 10em;
}
.footer-position {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-color: transparent;

 
}


a:hover{
text-decoration: none!important;
}

.icon-text {
  padding: 13px;
}