
.icon-table-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 20em;
  border-radius: 10px ;
  backdrop-filter: blur(40px);
  
}

.icon-scroll-container {
  width: 100vw;
  overflow: hidden;
  /* Make the scrollbar invisible */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.icon-scroll-container::-webkit-scrollbar {
  display: none;
}

.icon-column {
  display: flex;
  z-index: 1001;
  /* Adjust the animation duration to match the number of items */
  animation: scrollIcons 10s linear infinite;
}

.icon-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.icon-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

/* Define the scrolling animation */
@keyframes scrollIcons {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Calculate the total width to ensure smooth looping */
    transform: translateX(calc(-120px * 6));
  }
}