/* IconTable.css */

.icon-table-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 20em;
}

.icon-scroll-container {
  width: 100vw; /* Set the width of the scrolling container to 100vw */
  overflow: hidden;
}

.icon-column {
  display: flex;
  z-index: 1001;
}

.icon-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.icon-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

/* Define the scrolling animation */
@keyframes scrollIcons {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
