/* navbar.css */
nav {
  margin-top: 20px;
  margin-bottom: 130px;
  padding: 10px;
  z-index: 999;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
}

li a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
}

/* Apply the hover effect only to the text in mobile view */
@media screen and (min-width: 992px) {
  li a{
    color: white !important ;
  }
  li a:hover {
    background-color: #8982f3;
    color: black !important;
  }
}




#navbarNav {
  justify-content: center;
}




