/* hoverDevCards.css */

/* Gemeinsame Stildefinitionen für die Karten */
.card {
    width: 100%;
    padding: 1rem;
    border: 1px solid #CBD5E0;
    border-radius: 0.25rem;
    position: relative;
    overflow: hidden;
    background-color: white;
  }
  
  .card .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #7F00FF, #6610F2);
    transform: translateY(100%);
    transition: transform 0.3s;
  }
  
  .card:hover .overlay {
    transform: translateY(0);
  }
  
  .card .icon-large {
    position: absolute;
    top: -2rem;
    right: -2rem;
    font-size: 8rem;
    color: #4A5568;
    transform: rotate(0);
    transition: color 0.3s, transform 0.3s;
  }
  
  .card:hover .icon-large {
    color: #4F46E5;
    transform: rotate(12deg);
  }
  
  .card .icon-small {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: #8B5CF6;
    transition: color 0.3s;
  }
  
  .card:hover .icon-small {
    color: white;
  }
  
  .card h3 {
    font-weight: 500;
    font-size: 1.25rem;
    color: #374151;
    transition: color 0.3s;
  }
  
  .card:hover h3 {
    color: white;
  }
  
  .card p {
    color: #9CA3AF;
    transition: color 0.3s;
  }
  
  .card:hover p {
    color: #C084FC;
  }
  